<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="/"> <i class="fas fa-store"></i> Admin Toko </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/"><i class="fas fa-home"></i> Dashboard</a>
        <a class="nav-link" href="/products"><i class="fas fa-box"></i> Produk</a>
        <a class="nav-link" href="/purchases"><i class="fas fa-shopping-cart"></i> Pembelian</a>
        <a class="nav-link" href="/purchases/create"><i class="fas fa-plus"></i> Buat Pembelian</a>
      </div>
    </div>
  </div>
</nav>
